.overlayer-toolbar * {
  font-family: Helvetica, Arial, sans-serif !important;
}

.overlayer-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  color: #fff;
  background-color: #15181f;
  font-family: 'Open Sans', open-sans, sans-serif;
  border: 2px solid #22252b;
  margin: 0;
  padding: 10px;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.overlayer-toolbar.hidden, .overlayer-toolbar.hide-everything {
  display: none;
}

.overlayer-toolbar form {
  display: none;
}

.overlayer-toolbar .underline {
  text-decoration: underline;
}

.overlayer-toolbar h5 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  letter-spacing: 2px;
}

.overlayer-toolbar .image-list-wrap {
  position: relative;
}

.overlayer-toolbar .image-list {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow: hidden;
  width: 200px;
}

.overlayer-toolbar .image-list-title {
  cursor: pointer;
}

.overlayer-toolbar .image-list-title span {
  margin-left: 2px;
  transition: all .3s ease;
}

.overlayer-toolbar .open .image-list-title span {
  transform: rotate(180deg);
}

.overlayer-toolbar .open .image-list .image-item {
  max-height: 400px;
}

.overlayer-toolbar .open .image-list {
  overflow-y: scroll;
}

.overlayer-toolbar .image-item {
  max-width: 300px;
  max-height: 0px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.overlayer-toolbar .image-item img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.overlayer-overlay {
  z-index: 9998;
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.overlayer-overlay.hidden, .overlayer-overlay.hide-everything {
  display: none;
}

.overlayer-toolbar .overlay-toggle-title {
  width: 200px;
}

.overlayer-toolbar .overlay-toggle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayer-toolbar .overlay-toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}

.overlayer-toolbar .overlay-toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.overlayer-toolbar .overlay-toggle-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.overlayer-toolbar .overlay-toggle-label:before,
.overlay-toggle:checked + .overlay-toggle-label:before {
  border: none !important;
  background: none !important;
}

.overlay-toggle:checked + .overlay-toggle-label {
  background: #262f42;
}

.overlay-toggle:checked + .overlay-toggle-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.overlayer-toolbar .overlay-toggle-label:active:after {
  width: 50px;
}
